.warna-bg{
	background: linear-gradient(to right, rgba(91, 134, 229, .50), rgba(54, 209, 220, .50));
	padding-bottom: 30px;
}

.jumbotron-bg{
	background-size: cover;
	background: url('biner.jpg');
	background-size: 500px;
}

.jumbotron{
	padding-top: 50px;
}

.pagination{
	padding-top: 30px;
	padding-bottom: 30px;
}

.col-md-9{
	margin-top: 150px;
	padding-left:90px ;
}

.warna-ft{
	background: linear-gradient(to right, rgba(91, 134, 229, .92), rgba(54, 209, 220, .92));
}

.btn a{
	color: white;
	text-decoration: none;
	list-style: none;
}